.beg-login-bg {
    width:100%;
    height: 100vh;
    position: fixed;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
    background-size: cover !important;
    background-image: url(../assets/bg.png);
}